*

!.gitignore
!.bash_aliases
!.bashrc
!/images/
!README.md

!/Thunar/
!/Thunar/**
!/alacritty/
!/alacritty/**
!/dunst/
!/dunst/**
!/i3/
!/i3/**
!/jgmenu/
!/jgmenu/**
!/picom/
!/picom/**
!/polybar/
!/polybar/**
!/rofi/
!/rofi/**
!/xboarders/
!/xboarders/**
!/zathura/
!/zathura/**

